html {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

a {
    display: block;
    &:hover {
        text-decoration: none;
    }
}

input,
button {
    &:focus {
        outline: none;
    }
}

input,
textarea,
button {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    resize: none;
}

.back-green {
    background-color: #78B004 !important;
}