.cart-content {
    .destop {
        display: table;
        @include max-breakpoint(769) {
            display: none;
        }
    }
    .mobile {
        display: none;
        @include max-breakpoint(769) {
            display: table;
        }
    }
    .mh {
        min-height: 600px;
    }
    .bread-crum {
        display: flex;
        a {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 40px;
            color: #8D8D8D;
            padding: 30px 0;
            padding-right: 10px;
            @include max-breakpoint(426) {
                font-size: 13px;
            }
        }
    }
    .table-product {
        border: 0.5px solid #C4C4C4;
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            background: #ECECEC;
            box-sizing: border-box;
            text-align: center;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            @include max-breakpoint(769) {
                font-size: 13px;
            }
        }
        .row-product {
            padding: 10px 0;
            img {
                cursor: pointer;
            }
            .avatar-product {
                img {
                    @include max-breakpoint(769) {
                        width: 60px;
                        height: 70px;
                    }
                }
            }
            .description {
                @include max-breakpoint(769) {
                    font-size: 13px;
                }
            }
            .cost {
                p {
                    @include max-breakpoint(769) {
                        font-size: 13px;
                    }
                }
                img {
                    @include max-breakpoint(769) {
                        margin: auto;
                        margin-top: 10px;
                        display: flex;
                    }
                }
            }
            td:nth-child(2) {
                img {
                    width: 70px;
                    height: 90px;
                }
            }
            td {
                vertical-align: middle;
                .count-product {
                    display: flex;
                    align-items: center;
                    @include max-breakpoint(769) {
                        margin-top: 10px;
                    }
                    .qty-count {
                        width: 30px;
                        height: 30px;
                        border: 0.5px solid #AEAEAE;
                        box-sizing: border-box;
                        background-color: transparent;
                        font-size: 25px;
                        @include max-breakpoint(769) {
                            width: 25px;
                            height: 25px;
                            font-size: 20px;
                        }
                    }
                    input {
                        width: 40px;
                        height: 30px;
                        border: 0.5px solid #AEAEAE;
                        box-sizing: border-box;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 29px;
                        color: #111111;
                        text-align: center;
                        @include max-breakpoint(769) {
                            width: 30px;
                            height: 25px;
                            font-size: 15px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }
    .bl {
        border-left: 0.5px solid #C4C4C4;
        @include max-breakpoint(991) {
            border: none;
        }
    }
    .total-money {
        .title-total {
            background: #FFFFFF;
            border: 0.5px solid #C4C4C4;
            box-sizing: border-box;
            padding: 10px 0 10px 20px;
            font-weight: 500;
            font-size: 15px;
            line-height: 30px;
            color: #121212;
        }
        .temporary-value,
        .ship,
        .total,
        .button-pay {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .temporary-value,
        .ship {
            padding: 20px 0;
            p:nth-child(1) {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
                color: #121212;
                @include max-breakpoint(426) {
                    font-size: 14px;
                }
            }
            p:nth-child(2) {
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 30px;
                color: #DC1D58;
                @include max-breakpoint(426) {
                    font-size: 14px;
                }
            }
        }
        .total {
            padding: 20px 0;
            p:nth-child(1) {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 30px;
                color: #121212;
                @include max-breakpoint(426) {
                    font-size: 14px;
                }
            }
            p:nth-child(2) {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 30px;
                color: #DC1D58;
                @include max-breakpoint(426) {
                    font-size: 14px;
                }
            }
        }
        .button-pay {
            width: 350px;
            height: 40px;
            background: #78B004;
            border-radius: 10px;
            justify-content: center;
            margin-top: 20px;
            @include max-breakpoint(1025) {
                width: 300px;
            }
            a {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                display: flex;
                @include max-breakpoint(426) {
                    font-size: 14px;
                }
                align-items: center;
                color: #FFFFFF;
            }
        }
    }
}