.banner
    .container
        img(src="./images/banner/banner.png", alt="")
        p TÙNG KHÁNH Flower Shop là shop hoa tươi hoạt động nhiều năm kinh nghiệm trong ngành trang trí hoa sự kiện, đám cưới, sinh nhật, hoa tươi, hoa lan cho công ty, xí nghiệp...và các lĩnh vực liên quan tới hoa tươi