.category-product
    .container
        .row.mb-3
            .col-lg-3.col-6
                a(href="./list-product.html").items-ctg
                    img(src="./images/list-product/strawberry.png", alt="")
                    .foot
                    p HOA DÂU TÂY
            .col-lg-3.col-6
                a(href="./list-product.html").items-ctg
                    img(src="./images/list-product/fresh.png", alt="")
                    .foot
                    p HỘP HOA TƯƠI
            .col-lg-3.col-6
                a(href="./list-product.html").items-ctg
                    img(src="./images/list-product/flowers.png", alt="")
                    .foot
                    p BÓ HOA TƯƠI
            .col-lg-3.col-6
                a(href="./list-product.html").items-ctg
                    img(src="./images/list-product/birthday.png", alt="")
                    .foot
                    p HOA SINH NHẬT
            .col-lg-3.col-6
                a(href="./list-product.html").items-ctg
                    img(src="./images/list-product/wedding.png", alt="")
                    .foot
                    p HOA ĐÁM CƯỚI
            .col-lg-3.col-6
                a(href="./list-product.html").items-ctg
                    img(src="./images/list-product/congratulate.png", alt="")
                    .foot
                    p HOA CHÚC MỪNG
            .col-lg-3.col-6
                a(href="./list-product.html").items-ctg
                    img(src="./images/list-product/phonglan.png", alt="")
                    .foot
                    p LAN HỒ ĐIỆP
            .col-lg-3.col-6
                a(href="./list-product.html").items-ctg
                    img(src="./images/list-product/rip.png", alt="")
                    .foot
                    p HOA CHIA BUỒN