.list-product
    .container
        .hot-product
            .heading
                p.title SẢN PHẨM HOT
                a(href="./list-product.html") Xem thêm
            .row.mt-5
                .col-lg-3.col-md-6
                    .item-product
                        img(src="./images/list-product/wedding.png", alt="")
                        .infor
                            a(href="#").name  Hoa cưới để bàn cô dâu
                            a(href="#").price 1.500.000 vnđ
                .col-lg-3.col-md-6
                    .item-product
                        img(src="./images/list-product/birthday.png", alt="")
                        .infor
                            a(href="#").name  Hoa cưới để bàn cô dâu
                            a(href="#").price 1.500.000 vnđ
                .col-lg-3.col-md-6
                    .item-product
                        img(src="./images/list-product/rip.png", alt="")
                        .infor
                            a(href="#").name  Hoa cưới để bàn cô dâu
                            a(href="#").price 1.500.000 vnđ
                .col-lg-3.col-md-6
                    .item-product
                        img(src="./images/list-product/phonglan.png", alt="")
                        .infor
                            a(href="#").name  Hoa cưới để bàn cô dâu
                            a(href="#").price 1.500.000 vnđ
        .category-flower
            .heading
                p.title HOA DÂU TÂY
                a(href="./list-product.html") Xem thêm
            .row.mt-5.mb-3
                .col-lg-4.col-md-12
                    .avatar
                        img(src="./images/list-category/strawberry.png", alt="")
                .col-lg-8.col-md-12
                    .row
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
        .category-flower
            .heading
                p.title HỘP HOA TƯƠI
                a(href="./list-product.html") Xem thêm
            .row.mt-5
                .col-lg-4.col-md-12
                    .avatar
                        img(src="./images/list-category/fresh.png", alt="")
                .col-lg-8.col-md-12
                    .row
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
        .category-flower
            .heading
                p.title BÓ HOA TƯƠI
                a(href="./list-product.html") Xem thêm
            .row.mt-5
                .col-lg-4.col-md-12
                    .avatar
                        img(src="./images/list-category/flowers.png", alt="")
                .col-lg-8.col-md-12
                    .row
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
        .category-flower
            .heading
                p.title HOA SINH NHẬT
                a(href="./list-product.html") Xem thêm
            .row.mt-5
                .col-lg-4.col-md-12
                    .avatar
                        img(src="./images/list-category/birthday.png", alt="")
                .col-lg-8.col-md-12
                    .row
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
        .category-flower
            .heading
                p.title HOA ĐÁM CƯỚI
                a(href="./list-product.html") Xem thêm
            .row.mt-5
                .col-lg-4.col-md-12
                    .avatar
                        img(src="./images/list-category/wedding.png", alt="")
                .col-lg-8.col-md-12
                    .row
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
        .category-flower
            .heading
                p.title HOA CHÚC MỪNG
                a(href="./list-product.html") Xem thêm
            .row.mt-5
                .col-lg-4.col-md-12
                    .avatar
                        img(src="./images/list-category/congratulate.png", alt="")
                .col-lg-8.col-md-12
                    .row
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
        .category-flower
            .heading
                p.title LAN HỒ ĐIỆP
                a(href="./list-product.html") Xem thêm
            .row.mt-5
                .col-lg-4.col-md-12
                    .avatar
                        img(src="./images/list-category/phonglan.png", alt="")
                .col-lg-8.col-md-12
                    .row
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
        .category-flower
            .heading
                p.title HOA CHIA BUỒN
                a(href="./list-product.html") Xem thêm
            .row.mt-5
                .col-lg-4.col-md-12
                    .avatar
                        img(src="./images/list-category/rip.png", alt="")
                .col-lg-8.col-md-12
                    .row
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/birthday.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/wedding.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
                        .col-lg-3.col-md-6
                            .items-product
                                img(src="./images/list-product/phonglan.png", alt="")
                                .infor
                                    a(href="#").name  Hoa cưới để bàn cô dâu
                                    a(href="#").price 1.500.000 vnđ
        
    
