.banner {
    img {
        width: 100%;
        padding: 20px 0;
        min-height: 300px;
        object-fit: cover;
    }
    p {
        padding: 20px;
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        line-height: 40px;
        text-align: center;
        color: #111111;
        @include max-breakpoint(426) {
            font-size: 18px;
        }
        @include max-breakpoint(426) {
            font-size: 15px;
        }
    }
}