.category-product {
    padding: 40px 0px;
    .items-ctg {
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
        }
        .foot {
            position: absolute;
            bottom: 5px;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            background: rgba(120, 176, 4, 0.81);
            filter: blur(7px);
            height: 30px;
        }
        p {
            background-color: transparent;
            position: absolute;
            bottom: 5px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            text-align: center;
            width: 100%;
            @include max-breakpoint(426) {
                font-size: 15px;
            }
        }
    }
}