.list-product {
    .hot-product {
        .heading {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            a {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                text-decoration-line: underline;
                color: #78B004;
                @include max-breakpoint(426) {
                    font-size: 15px;
                }
            }
            .title {
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 29px;
                color: #424242;
                position: relative;
                padding: 10px 0;
                text-transform: uppercase;
                @include max-breakpoint(426) {
                    font-size: 15px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: #78B004;
                    border-radius: 3px;
                    width: 200px;
                    height: 4px;
                    @include max-breakpoint(426) {
                        width: 150px;
                    }
                }
            }
        }
        .item-product {
            border: 1px solid #78B004;
            width: 100%;
            img {
                width: 100%;
            }
            margin-bottom: 40px;
            .infor {
                padding: 10px;
                .name {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 23px;
                    color: #111111;
                    @include max-breakpoint(426) {
                        font-size: 12px;
                    }
                }
                .price {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 21px;
                    line-height: 29px;
                    color: #AC0404;
                    @include max-breakpoint(426) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .category-flower {
        .heading {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            a {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                text-decoration-line: underline;
                color: #78B004;
                @include max-breakpoint(426) {
                    font-size: 16px;
                }
            }
            .title {
                font-style: normal;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 21px;
                line-height: 29px;
                color: #424242;
                position: relative;
                padding: 10px 0;
                @include max-breakpoint(426) {
                    font-size: 16px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: #78B004;
                    border-radius: 3px;
                    width: 200px;
                    height: 4px;
                }
            }
        }
        .avatar {
            @include max-breakpoint(991) {
                display: none;
            }
            width: 100%;
            img {
                width: 100%;
            }
        }
        .items-product {
            border: 1px solid #78B004;
            width: 100%;
            img {
                width: 100%;
            }
            margin-bottom: 30px;
            .infor {
                padding: 10px;
                .name {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 23px;
                    color: #111111;
                    @include max-breakpoint(426) {
                        font-size: 12px;
                    }
                }
                .price {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 29px;
                    color: #AC0404;
                    @include max-breakpoint(426) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}