.detail-content
    .container
        .bread-crum
            p Trang chủ / Hoa dâu tây / Hoa dâu tây - size 100 quả
        .row
            .col-lg-6.col-sm-12
                img(src="./images/images-detail.png", alt="")
            .col-lg-6.col-sm-12
                .content-detail
                    p.title-product HOA DÂU TÂY - SIZE 100 QUẢ
                    p.price 2.000.000 vnđ
                    p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptate ullam dicta harum! Ea eius quia aperiam a dolores laudantium neque, assumenda fugit sunt. Esse vitae odit reprehenderit facere odio adipisci non mollitia omnis sunt itaque earum doloremque distinctio dignissimos placeat nisi voluptatem, iure cum! Dolores aperiam impedit explicabo vitae.
                    .add-to-cart
                        .count-product.qty-input
                            button.qty-count.qty-count--minus(data-action="minus") -
                            input.product-qty(type="text" name="product-qty" min="0" value="1")
                            button.qty-count.qty-count--add(data-action="add") +
                        .button-add
                            a(href="./cart.html") THÊM VÀO GIỎ HÀNG

