 .footer {
     .logo-footer {
         padding: 40px 0;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         &::after {
             content: '';
             position: absolute;
             bottom: 0;
             width: 70%;
             height: 0.5px;
             background-color: #f8f8f8;
             left: 50%;
             transform: translateX(-50%);
         }
         .flower-footer {
             margin-right: 20px;
         }
         .name-footer {
             display: flex;
             flex-direction: column;
             align-items: flex-start;
             .name-logo {
                 margin-bottom: 10px;
             }
         }
     }
     .infor-footer {
         .title {
             padding-bottom: 10px;
         }
         p {
             font-style: normal;
             font-weight: 500;
             font-size: 18px;
             line-height: 21px;
             color: #FFFFFF;
         }
         a {
             display: flex;
             align-items: center;
             padding: 10px 0;
             img {
                 margin-right: 10px;
             }
         }
     }
     .infor-payment {
         p {
             font-style: normal;
             font-weight: 500;
             font-size: 18px;
             line-height: 21px;
             color: #FFFFFF;
             padding-bottom: 20px;
         }
     }
 }