.header {
    .header__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        .header-logo {
            display: flex;
            align-items: center;
            .flower-logo {
                margin-right: 20px;
            }
            .name-logo {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                img {
                    &:nth-child(1) {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .header-infor {
            display: flex;
            a {
                display: flex;
                align-items: center;
                img {
                    margin: 0 20px;
                }
                p {
                    padding-right: 20px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 23px;
                    color: #424242;
                }
            }
        }
    }
    .header__bottom {
        display: flex;
        align-items: center;
        .header-menu {
            display: flex;
            align-items: center;
            .menu-item {
                a {
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #FFFFFF;
                    padding: 20px 25px 20px 0;
                }
            }
        }
        .header-search {
            margin-left: 30px;
        }
    }
}