.list-content
    .container
        .bread-crum
            a(href="./index.html") Trang chủ / 
            a(href="./list-product.html") Hoa dâu tây
        .items-product
            .heading
                p.title HOA DÂU TÂY
            .row.mt-5#test-list
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/wedding.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/birthday.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/rip.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/phonglan.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/wedding.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/birthday.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/wedding.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/birthday.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/rip.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/phonglan.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/wedding.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/birthday.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/rip.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/phonglan.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/rip.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/phonglan.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/wedding.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/birthday.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/rip.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/phonglan.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/wedding.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/birthday.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/rip.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
                .col-lg-3.col-6
                    a(href="./detail-product.html").item-product
                        img(src="./images/list-product/phonglan.png", alt="")
                        .infor
                            p.name  Hoa cưới để bàn cô dâu
                            p.price 1.500.000 vnđ
            ul.pagination