.footer
    .container
        .row
            .col-md-5.col-12
                .footer__left
                    p Website lời giải cho tất cả các môn học trong chương trình học Tiểu Học, Trung Học Cơ Sở, Trung Học Phổ Thông 
                    p
                        span Email : 
                        a(href="") toploigiai@gmail.com
                    p
                        span SĐT : 
                        a(href="") 0123456789
                    .social__icons
                        a(href="")
                            img(src="../images/icons/face.svg", alt="")
                        a(href="")
                            img(src="../images/icons/youtube.svg", alt="")
                    p Điều khoản sử dụng
            .col-md-7.col-12
                .footer__right
                    a(href="") 
                        img(src="../images/home/header-logo.svg", alt="")
                    .classes
                        .row
                            .col-3
                                a(href="") Lớp 1-2-3
                            .col-3
                                a(href="") Lớp 4
                            .col-3
                                a(href="") Lớp 5
                            .col-3
                                a(href="") Lớp 6
                            .col-3
                                a(href="") Lớp 7
                            .col-3
                                a(href="") Lớp 8
                            .col-3
                                a(href="") Lớp 9
                            .col-3
                                a(href="") Lớp 10
                            .col-3
                                a(href="") Lớp 11
                            .col-3
                                a(href="") Lớp 12
                            .col-3
                                a(href="") Hỏi đáp
                            .col-3
                                a(href="") Thư viện
