.footer.back-green 
    .container
        .row  
            .col-10.m-auto 
                a(href="#").logo-footer
                    .flower-footer
                        img(src="./images/footer/flower-footer.svg", alt="")
                    .name-footer
                        .name-logo
                            img(src="./images/footer/shopname-footer.svg", alt="")
                        .shop-flower
                            img(src="./images/footer/flowershop-footer.svg", alt="")
            .col-10.m-auto
                .row.mt-5.mb-5
                    .col-6
                        .infor-footer
                            p.title Thông tin liên hệ
                            a(href="#").phone-footer
                                img(src="./images/footer/phone.svg", alt="")
                                p 039 456 2868
                            a(href="#").address
                                img(src="./images/home/map.svg", alt="")
                                p Khu Công Nghiệp Bàu Bàng - Bình Dương
                            .icons
                                a(href="#")
                                    img(src="./imgaes/home/facebook.svg", alt="")
                                a(href="#")
                                    img(src="./imgaes/home/zalo.svg", alt="")
                    .col-6
                        .infor-payment
                            p Thông Tin Thanh Toán
                            p NGÂN HÀNG VIETCOMBANK CN BÌNH DƯƠNG
                            p STK: 00000000097
                            p CHỦ TK: Trần Thi
            
