.header
    .container.d-flex.justify-content-between.align-items-center
        .header__logo
            a(href="../index.html")
                img(src="../images/home/header-logo.svg", alt="logo")
        .header__search.d-flex.align-items-center
            .search__input
                input(type="text")
                .icon_search
                    button
                        img(src="../images/icons/search.svg", alt="")
            .login.d-flex.align-items-center
                button Đăng nhập
                button Đăng kí
.header__class
    .container-fluid.back__white
    .container
        .menu.d-flex
            a(href="../class.html")
                .each__class Lớp 1 - 2 - 3
                .menu__second
                    .container
                        .second__content
                            .row
                                .col-5
                                    ul.chuyenmuc
                                        li Giải bài tập sách giáo khoa
                                        li Giải sách bài tập, vở bài tập
                                        li Đề kiểm tra, đề thi
                                        li Lý thuyết
                                        li Chuyên đề
                                        li Bài giảng
                                        li Giáo án
                                .col-7.chuyenmuc__con
                                    ul
                                        li abc
                                        li abc
                                        li abc
                                        li abc
            a(href="../class.html")
                .each__class Lớp 4
                .menu__second
                    .container
                        .second__content
                            .row
                                .col-4
                                    ul
                                        li abc
                                        li abc
                                        li abc
                                        li abc
                                .col-8
                                    ul
                                        li abc
                                        li abc
                                        li abc
                                        li abc
            a(href="../class.html")
                .each__class Lớp 5
                .menu__second
                    .container
                        .second__content
                            .row
                                .col-4
                                    ul
                                        li abc
                                        li abc
                                        li abc
                                        li abc
                                .col-8
                                    ul
                                        li abc
                                        li abc
                                        li abc
                                        li abc
            a(href="../class.html")
                .each__class Lớp 6
                .menu__second
                    .container
                        .row
                            .col-9
            a(href="../class.html")
                .each__class Lớp 7
                .menu__second
                    .container
                        .row
                            .col-9
            a(href="../class.html")
                .each__class Lớp 8
                .menu__second
                    .container
                        .row
                            .col-9
            a(href="../class.html")
                .each__class Lớp 9
                .menu__second
                    .container
                        .row
                            .col-9
            a(href="../class.html")
                .each__class Lớp 10
                .menu__second
                    .container
                        .row
                            .col-9
            a(href="../class.html")
                .each__class Lớp 11
                .menu__second
                    .container
                        .row
                            .col-9
            a(href="../class.html")
                .each__class Lớp 12
                .menu__second
                    .container
                        .row
                            .col-9
            a(href="../question.html")
                .header__question Hỏi đáp
            a(href="../library.html")
                .header__library Thư viện
            