.header
    .container
        .header__top
            a(href="./index.html").header-logo
                .flower-logo
                    img(src="./images/home/header-logo.svg", alt="")
                .name-logo
                    img(src="./images/home/shopname.svg", alt="")
                    img(src="./images/home/flowershop.svg", alt="")
            .header-infor
                a(href="#").phone-header
                    img(src="./images/home/phone.svg", alt="")
                    p 039 456 2868
                a(href="#").cart-header
                    img(src="./images/home/cart.svg", alt="")
                    p Giỏ hàng
    .container-fluid.back-green
        .container
            .header__bottom
                ul.header-menu
                    li.menu-item
                        a(href="./index.html") Trang chủ
                    li.menu-item
                        a(href="./list-product.html") HOA SINH NHẬT
                    li.menu-item
                        a(href="./list-product.html") CHỦ ĐỀ
                    li.menu-item
                        a(href="./list-product.html") HOA TƯƠI
                    li.menu-item
                        a(href="./list-product.html") MÀU SẮC
                    li.menu-item
                        a(href="./list-product.html") HOA ĐẶC BIỆT
                    li.menu-item
                        a(href="./list-product.html") HOA CƯỚI
                    li.menu-item
                        a(href="./list-product.html") KIẾN THỨC
                    li.menu-item
                        a(href="./list-product.html") LIÊN HỆ
                .header-search
                    img(src="./images/home/search.svg", alt="")